* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
}

body {
    position: relative;
}

.loader {
    z-index: 100;
    margin-left: 880px;
    margin-top: 350px;
    position: absolute;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid white;
    border-right: 16px solid blue;
    border-bottom: 16px solid white;
    border-left: 16px solid blue;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader_post {
    display: none;
}

.header_one {
    padding-left: 780px;
    left: 500px;
    color: black;
    font-weight: bold;
    font-size: 44px;
}

.header_two {
    padding-left: 750px;
    color: black;
    font-weight: bold;
}

.header_t {
    padding-left: 15px;
    color: black;
    font-weight: bold;
}

.father {
    background-color: white;
    margin: 0 550px;
    width: 600px;
    height: 650px;
    display: flex;
}

.left {
    background-color: white;
    padding-left: 100px;
    position: relative;
}

.right {
    background-color: white;
    padding-left: 20px;
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
}

span {
    color: white;
}

.span_two {
    color: red;
}

input {
    height: 40px;
    width: 277px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: #949494 1px solid;
    font-weight: bold;
    font-size: 35px;
    Padding: 20px, 0px, 20px, 12px
}

button {
    margin-top: 5px;
    margin-left: 800px;
    height: 59px;
    width: 277px;
    left: 725px;
    top: 0px;
    border-radius: 4px;
    padding: 20px, 12px, 20px, 12px;
    color: black;
}

.btn_good {
    background-color: #4200FF;
    border: 2px solid #4200FF;
}

.btn_bad {
    background-color: red;
    border: 2px solid #4200FF;
}

.valid {
    border: 2px solid green;
}

.invalid {
    border: 2px solid red;
}

.label {
    opacity: 0;
    transition: .5s ease;
}

label.active {
    opacity: 1 !important;
}